@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --arc-white: #ffffff;
  --arc-beige: #ffedd5;
  --arc-blue-dark: #110f27;
  --arc-purple-dark: #04021e;
  --arc-purple-hilight: #c026d3;
}

body {
  color: var(--arc-beige);
  background: var(--arc-purple-dark);
}

@layer base {
  .arc-text-stroke {
    text-shadow:
      -2px -2px 0 var(--arc-beige),
      2px -2px 0 var(--arc-beige),
      -2px 2px 0 var(--arc-beige),
      2px 2px 0 var(--arc-beige);
  }
  .arc-arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
