@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --beige: #ffedd5;
  --blue-dark: #110f27;
  --purple-dark: #04021e;
  --purple-hilight: #c026d3;
}

body {
  color: var(--beige);
  background: var(--purple-dark);
}

@layer base {
  .text-stroke-beige {
    text-shadow: -2px -2px 0 var(--beige), 2px -2px 0 var(--beige),
      -2px 2px 0 var(--beige), 2px 2px 0 var(--beige);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
